{% extends 'base.html' %}

{% block title %}
Welcome!
{% endblock %}


{% block content %}
    <div class="hero">
        <div class="hero-content">
            <div class="left">
                <h1>I'm a Developer</h1>
                <h1>Luis Diaz</h1>
                <p>I build dinamic apps with Python using relational databases! </p>
                <a href="#contacto" class="btn">Contact me</a>
            </div>
            <div class="right">
                <img src="{{ url_for('static', filename='bigdata.png') }}" width="600px" />
            </div>
        </div>
    </div>
{% include 'portfolio/section-first.html' %}
{% include 'portfolio/section-second.html' %}
{% include 'portfolio/section-contact.html' %}
{% endblock %}