<div class="center padded white-bg">
    <div class="content padded">
        <div class="padded">
            <h1>Don't hesitate! Check out what I have built:</h1>
        </div>
        <div class="row">
            <div class="card third">
                <h3>Mailer app</h3>
                <p>This is an app that sends email with Google API</p>
                <a class="orange" target="_blank" href='https://mailerapp-dbgn.onrender.com'>Link here</a>
            </div>
            <div class="card third">
                <h3>Mini CRM</h3>
                <p>App built to manage clients</p>
                <a class="orange" href='https://github.com/luisdiaz2022/TkInterTodoList'>Link here</a>
            </div>
            <div class="card third">
                <h3>ToDo App</h3>
                <p>ToDo list app where you can manage your tasks</p>
                <a class="orange" href='https://github.com/luisdiaz2022/ToDo-List-with-Flask'>Link here</a>
            </div>
            
        </div>
        <div class="row">
            <div class="card third">
                <h3>Javascript Game</h3>
                <p>A small videogame about a labyrinth with 3 levels</p>
                <a class="orange" target="_blank" href='https://luisdiaz2022.github.io/'>Link here</a>
            </div>
            <div class="card third">
                <h3>Petgram!</h3>
                <p>App created with React that simulate Instagram</p>
                <a class="orange" href='https://react-petstagram.vercel.app/'>Link here</a>
            </div>
            <div class="card third">
                <h3>React eCommerce</h3>
                <p>Created a small front-end view of a eCommerce</p>
                <a class="orange" href='https://luis-ecommerce-reactshop.netlify.app/'>Link here</a>
            </div>
        </div>
    </div>
</div>