<div class="center padded">
    <div class="content">
        <div class="row vert-pad">
            <div class="left padded">
                <h1>Let's join forces!</h1>
                <p>Let's have an amazing work relationship 
                    where we can build amazing things together!
                </p>
            </div>
            <div id="contacto" class="right padded">
                <form class="contact-form" method="post" action="{{ url_for('portfolio.mail') }}">
                    <input name="name" placeholder="Name" required />
                    <input name="email" placeholder="Email Address" required type="email" />
                    
                    <textarea name="message" placeholder="Email Content" required minlength=10></textarea>
                    <button class="btn full-width">Send</button>
                </form>
            </div>
        </div>
    </div>
</div>