<div class="center">
    <div class="content">
        <div class="row vert-pad">
            <div class="left padded">
                <h1>Developing apps and solutions for people, it's something I love to do.</h1>
                <p>I learn every day 
                    new technologies, and I develop new apps with this new knowledge. This web was built with Python and Flask, ain't that amazing?
                     Join me on my journey to keep learning and improving 1 step at a time.</p>
            </div>
            <div class="right padded">
                <h1>Learn more about me here!</h1>
                <p>Check out my CV here: <a target="_blank" href='https://drive.google.com/file/d/1JiE4L30br3d7pn1TCthVplE74cfBThge/view?usp=sharing' class="orange">Resume!</a></p>
            </div>
        </div>
    </div>
</div>