<div class="center">
    <div class="content">
        <div class="row vert-pad">
            <div class="left padded">
                <h1>Desarrollo con pasion aplicaciones y sitios web para personas.</h1>
                <p>Constantemente me encuentro 
                    aprendiendo nuevas tecnologias y desarrollando aplicaciones por placer. Esta web la construi desde cero con Python y
                    Flask! Y deseo conocer mas de este mundo</p>
            </div>
            <div class="right padded">
                <h1>Podemos conversar lo que quieras</h1>
                <p>Solo enviame un correo <a href=#contacto class="orange">Clickeando aqui</a></p>
            </div>
        </div>
    </div>
</div>